<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sunn-us/SUITE/fonts/static/woff2/SUITE.css">

    <title>지우자:지금우리자리는</title>
</head>
<body>
    <nav class="container">
        <h1 class="big-title">환불</h1>
        <img class="logo" src="/resources/img/Logo1.png" alt="">
    </nav>
    <section class="container">
        <article>
            <div class="in-container">
                <p class="title">환불 내용</p>
                <div class="content">
                    
                </div>
    
            </div>

            <div class="in-container">
                <p class="title">유의사항</p>
                <div class="notice">
                    <div class="notice-content">
                        <ol>
                            <li>
                                <p>기차 탑승 전</p>
                                <p>
                                    월~목요일 승차권은 출발 3시간 전까지만 취소하면 수수료 없이 전액환불이 가능합니다. 
                                    출발 전 3시간 경과 후 ~ 출발시간 전은 5%의 수수료가 있습니다. 
                                  </p>
                                  <p>
                                      금~일, 공휴일, 명절 특별수송기간에 운행하는 기차를 취소하는 경우 1개월 전부터 1일 전까지는 최소 수수료 400원이 부과되고, 
                                      당일 ~ 출발 3시간 전 취소 시에는 5%,
                                      출발 3시간 후부터 출발시간까지는 10%가 적용됩니다.
                                  </p>
                            </li>
                            <li>
                                <p>기차 탑승 후</p>
                                <p>
                                    출발 후 20분 이내 15%, 출발 후 20분 ~ 60분 이내 40%, 출발 후 60분 ~ 도착 시간 70%의 취소 수수료가 부과됩니다.
                                    기차에 탑승한 후에도 티켓을 취소하면 금액의 일부라도 돌려받을 수 있습니다. 
                                    출발 후 취소하는 티켓은 날짜와 무관하게 동일한 비율의 위약금이 적용됩니다.
                                </p>
                                <p>
                                    도착시간은 구입한 기차표에 기재된 도착역, 도착시간을 기준으로 합니다.
                                    도착시간이 지난 후에는 환불이 불가합니다.
                                </p>
                            </li>
                        </ol>
                        
                    </div>
                    <input type="checkbox" name="agree" value="agree">위 내용을 모두 숙지하였으며 동의합니다.

                </div>
            </div>

            <button class="cancel-btn" type="button">취소</button>
            <button class="refund-btn" type="button">확인</button>


        </article>
    </section>
</body>
</html>