<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sunn-us/SUITE/fonts/static/woff2/SUITE.css">

    <title>지우자:지금우리자리는</title>
</head>
<body>
    <nav class="container">
        <h1 class="big-title">환불</h1>
        <img class="logo" src="/resources/img/Logo1.png" alt="">
    </nav>
    <section class="container">
       <article>
            <h2 class="complete">환불 신청이 완료되었습니다!</h2>
            <p class="sentence">포인트 사용의 경우 영업일 기준 20일 이내 환불 처리가 완료됩니다.</p>
            <p class="sentence">기타 결제 수단을 이용하신 경우 영업일 기준 30일 이내 결제 수단으로 환불 처리가 완료됩니다.</p>
            <button class="check" type="button">확인</button>
        </article>
    </section>
</body>
</html>