<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/point/popupPointChargeMain.css}">
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
    <title>지우자:지금우리자리는</title>
</head>
<body>
    <nav class="container">
        <h1 class="big-title">포인트 충전</h1>
        <img class="logo" src="/resources/img/Logo1.png" alt="">
    </nav>
    <section class="container">
        <article>
            <form action="" method="post">
                <p class="title">충전 금액 <input id="chargeMoney" type="text" name="chargeMoney">원</p>
                <div class="content">
                    <p class="cur-point">현재 포인트 </p>
                    <p class="after-point">충전 후 포인트 </p>
                </div>
                
            </form>

            <p class="title">결제 방법</p>
            <div class="pay-container">  
                <p><a href="/mine/JIUJA/popup/pointCharge/account"><img src="/resources/img/bankbook.png" class="bankbook"></a><span>무통장입금</span></p>
                <p><a href="/mine/JIUJA/popup/pointCharge/user"><img src="/resources/img/replace.png" class="replace"></a><span>대리 입금</span></p>
            </div>
       </article>
    </section>
</body>
</html>