* {
    box-sizing: border-box;
}

body {
    font-family: 'SUITE', sans-serif;
}

/* 수정 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}



ul {
    list-style: none;
}

/* 수정 */
/* header */
#header{
    width: 1350px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    /* border: 3px solid #000000; */
}
#header::after{
    content: "";
    display: block;
    clear: both;
}
/* 홈화면, 정보버튼들 */
    .header-menu {
        float: right;
        margin-right: 70px;
        margin-top: 8px;
    }

    .header-btn{
        list-style-type: none;
        margin: 0;
    }

    .header-btn > li {
        float: left;
        margin-left: 40px;
        font-size: 18px;
        font-weight: bold;
    }
    .header-btn li:hover a {
        color:#000dff;
    }
    /* 수정 */
    a:link:not(.big-title a, .rep-menu a),
    a:visited:not(.big-title a, .rep-menu a){
        text-decoration: none;
        color:  #5F5F5F;
    }

    /* 수정 */
    .big-title a:link, a:visited {
        color: #1A1F8A;
        text-decoration: none;
    }



/* nav */
#nav{
    /* width: 1440px; */
    position: relative;
    height: 80px;
    background-color: #276FFF;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-width: 7px;
    border-color: #F29F05;
    border-style: none none solid none;
}
#nav::after{
    content: "";
    display: block;
    clear: both;
}

/* 로고 */
    #logo{
        float: left;
        width: 150px;
        height: 80px;
        background-image: url(/resources/img/logo.png);
        background-position: center;
        overflow: hidden;
        margin-left: 30px;
        /* background-color: #ffd8d8; */
    }

/* 메뉴바 */
    #nav-menu {

        width: 1200px;
        height: 80px;
        margin: 0 auto;
        padding-top: 8px;
        margin-right: 150px;
        text-align: center;

    }
    #nav-menu ul {
    font-size: 0;
    list-style-type: none;

    }
    .rep-menu ul{
        margin-left: 80px;

    }
    .rep-menu a{
        color: #ffffff;
        margin-left: 80px;
        font-weight: bold;
        text-decoration: none;

    }
    .detail-menu a{
        color: #276FFF;
        margin-left: 3px;
        font-size: 20px;
        font-weight: bold;
    }
    .menu-line{
        width:230px;
        margin: 0 auto;
    }
    #nav-menu ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;

    display: inline-block;
    padding: 15px;
    position: relative;
    }
    #nav-menu ul li ul {
        border: 5px solid;
        border-image: linear-gradient(to bottom,#1A1F8A,#76a4ff) 1;
        display: none;
    }
    /* 대표메뉴 hover */
    #nav-menu ul li:hover {
        cursor: pointer;
    }
    #nav-menu ul li:hover a {
        transition: all 0.3s ease-out;
        color:#1A1F8A;
    }
    /* 대표메뉴 hover했을 때 상세메뉴 배경색*/
    #nav-menu ul li:hover ul li {
        display: block;
        background-color: #F2F2F2;
        }
    /* 상세메뉴 hover 했을때 (배경색,위치)*/
    #nav-menu ul li:hover ul {
    display: block;
    margin-top: 15px;
    width: 250px;
    background-color: #F2F2F2;
    left: 0;
    position: absolute;
    }
    /* 상세메뉴 hover 했을때 강조표시*/
    #nav-menu ul li:hover ul li:hover {
        width: 230px;
        border-radius: 10px;
        transition: all 0.3s ease-out;
        margin: 0 auto;
        background-color: #044BD9;
    }
    /* 상세메뉴 hover 했을때 글자색*/
    #nav-menu ul li:hover ul li:hover a {
        color: #ffffff;
    }

/* 수정 */
section {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding-left: 200px;
    width: 100%;
    height: 850px;
}


.big-title {
    color: #1A1F8A;
    font-size: 64px;
    font-weight: 700;
    margin: 30px 0;
}

.big-container{
    display: flex;
    padding-bottom: 30px;
}

.content1, .content2 {
    width: 368px
}

.content1 {
    border-radius: 10px 0px 0px 0px;
    border: 1px solid #1A1F8A;
    background: #FFF;
    padding-left: 10px;
}

.check {
    font-size: 24px;
    font-weight: 400;
}

.insert {
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
}

.check-btn {
    width: 82px;
    height: 27px;
    color: #FFF;
    border-radius: 5px;
    background: #276FFF;
    border: 1px solid #276FFF;
    margin-left: 250px;
    margin-bottom: 10px;
}

.content2 {
    background-color: #F5F5F5;
    border: 1px solid #1A1F8A;
    stroke-width: 1px;
    stroke: #1A1F8A;
    height: 519px;
    padding-left: 10px;
}

.name{
    font-size: 32px;
    font-weight: 700;
}

.content2 :nth-child(2):not(.name, .tel){
    font-weight: 400;
    font-size: 32px;
}

.id, .tel {
    color: #848484;
    font-size: 20px;
}


.info, .name-info {
    margin-left: 54px;
}

.id-info, .tel-info {
    padding-left: 20px;
}

.content2 > button {
    width: 140px;
    height: 63px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    margin-top: 180px;
}


.blacklist-btn {
    background: #2426A5;
}

.leave-btn {
    background: #F2210C;
}

.small-container2 {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #1A1F8A;
    background: #FFF;
    width: 700px;
    height: 681px;
}
.content3 {
    border-radius: 10px;
    background: #F5F5F5;
    width: 651px;
    height: 155px;
    margin: 10px auto;
}


.small-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    padding-top: 10px;
}
.point {
    font-size: 20px;
    margin-left: 30px;

    display: inline;
}

.data {
    display: inline;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

.data > span {
    font-size: 20px;
}

.content3 > button {
    width: 119px;
    height: 23px;
    border-radius: 5px;
    background: #276FFF;
    color: #FFF;
    border: none;
    margin-left: 500px;
    margin-top: 10px;
}

.content4 {
    width: 651px;
    height: 428px;
    border-radius: 10px;
    background: #F5F5F5;
    margin: 10px auto;
}

.scrolltable{
    border-collapse: collapse;
    border: 1px solid #888;
}
.scrolltable thead {
    display:block;
    background: #1A1F8A;
    color:#fff;
}
.scrolltable tbody{
    display:block;
    overflow:auto;
    height: 310px;
    width:100%;
}
/* 행 장식 */
.scrolltable th, .scrolltable td {
    padding: 5px;
    text-align: center;
    font-size: 24px;
}

.scrolltable th:nth-child(1), .scrolltable td:nth-child(1){
    width: 80px;
}

.scrolltable th:nth-child(2), .scrolltable td:nth-child(2){
    width: 100px;
}

.scrolltable th:nth-child(3), .scrolltable td:nth-child(3){
    width: 120px;
}

.scrolltable th:nth-child(4), .scrolltable td:nth-child(4){
    width: 320px;
}

.scrolltable th:nth-child(5), .scrolltable td:nth-child(5){
    width: 250px;
}

.scrolltable th:nth-child(6), .scrolltable td:nth-child(6){
    width: 80px;
}
.scrolltable tr {
    height: 56px;
}

.scrolltable td {
    border:1px solid #555;
}

.ticketing-btn {
    border-radius: 5px;
    background: #2426A5;
    color: #FFF;
    border: 1px solid #2426A5;
}

.refund-btn {
    border-radius: 5px;
    border: 1px solid #F2210C;
    background: #FFF;
    color: #F2210C;
}

/*추가*/

.outline{
    border: 0;
    height: 8px;
    background-color: #276FFF;
}
.inline{
    border: 0;
    height: 4px;
    background-color: #276FFF;
    margin-top: 5px;
}


/* 흑백 로고 */
    #logo2{
        float: left;
        width: 104px;
        height: 80px;
        background-image: url(/resources/img/logo2.png);
        background-position: center;
        overflow: hidden;
        margin-left: 40px;

    }

/* 회사 소개 */
    .footerText{
        float: left;
        /* border: 1px solid #000; */
        margin-left: 100px;
        margin-top: 30px ;
    }


/* footer 하단 고정 [S] */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    padding-bottom: 30px; /* footer의 높이 */
}

footer {
    width: 100%;
    height: 30px; /* footer의 높이 */
    position: absolute;
    bottom: 0;
    left: 0;
}
/* footer 하단 고정 [E] */