* {
    box-sizing: border-box;
}

body {
    font-family: 'SUITE', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* 수정 */
.big-title a:link, a:visited {
    color: #1A1F8A;
    text-decoration: none;
}



ul {
    list-style: none;
}

/* 수정 */
/* header */
#header{
    width: 1350px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    /* border: 3px solid #000000; */
}
#header::after{
    content: "";
    display: block;
    clear: both;
}
/* 홈화면, 정보버튼들 */
    .header-menu {
        float: right;
        margin-right: 70px;
        margin-top: 8px;
    }

    .header-btn{
        list-style-type: none;
        margin: 0;
    }

    .header-btn > li {
        float: left;
        margin-left: 40px;
        font-size: 18px;
        font-weight: bold;
    }
    .header-btn li:hover a {
        color:#000dff;
    }
    /* 수정 */
    a:link:not(.big-title a, .rep-menu a),
    a:visited:not(.big-title a, .rep-menu a){
        text-decoration: none;
        color:  #5F5F5F;
    }


/* nav */
#nav{
    /* width: 1440px; */
    position: relative;
    height: 80px;
    background-color: #276FFF;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-width: 7px;
    border-color: #F29F05;
    border-style: none none solid none;
}
#nav::after{
    content: "";
    display: block;
    clear: both;
}

/* 로고 */
    #logo{
        float: left;
        width: 150px;
        height: 80px;
        background-image: url(/resources/img/logo.png);
        background-position: center;
        overflow: hidden;
        margin-left: 30px;
        /* background-color: #ffd8d8; */
    }

/* 메뉴바 */
    #nav-menu {

        width: 1200px;
        height: 80px;
        margin: 0 auto;
        padding-top: 8px;
        margin-right: 150px;
        text-align: center;

    }
    #nav-menu ul {
    font-size: 0;
    list-style-type: none;

    }
    .rep-menu ul{
        margin-left: 80px;

    }
    .rep-menu a{
        color: #ffffff;
        margin-left: 80px;
        font-weight: bold;
        text-decoration: none;

    }
    .detail-menu a{
        color: #276FFF;
        margin-left: 3px;
        font-size: 20px;
        font-weight: bold;
    }
    .menu-line{
        width:230px;
        margin: 0 auto;
    }
    #nav-menu ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;

    display: inline-block;
    padding: 15px;
    position: relative;
    }
    #nav-menu ul li ul {
        border: 5px solid;
        border-image: linear-gradient(to bottom,#1A1F8A,#76a4ff) 1;
        display: none;
    }
    /* 대표메뉴 hover */
    #nav-menu ul li:hover {
        cursor: pointer;
    }
    #nav-menu ul li:hover a {
        transition: all 0.3s ease-out;
        color:#1A1F8A;
    }
    /* 대표메뉴 hover했을 때 상세메뉴 배경색*/
    #nav-menu ul li:hover ul li {
        display: block;
        background-color: #F2F2F2;
        }
    /* 상세메뉴 hover 했을때 (배경색,위치)*/
    #nav-menu ul li:hover ul {
    display: block;
    margin-top: 15px;
    width: 250px;
    background-color: #F2F2F2;
    left: 0;
    position: absolute;
    }
    /* 상세메뉴 hover 했을때 강조표시*/
    #nav-menu ul li:hover ul li:hover {
        width: 230px;
        border-radius: 10px;
        transition: all 0.3s ease-out;
        margin: 0 auto;
        background-color: #044BD9;
    }
    /* 상세메뉴 hover 했을때 글자색*/
    #nav-menu ul li:hover ul li:hover a {
        color: #ffffff;
    }




section {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding-left: 200px;
}



.big-title {
    color: #1A1F8A;
    font-size: 64px;
    font-weight: 700;
    margin: 30px 0;
}

/* 수정한듯(확실하지 않아요) */
.big-title span {
    font-size: 48px;
}

.first-container, .second-container {
    border-radius: 10px;
    border: 1px solid #1A1F8A;
    background: #FFF;
    width: 995px;
    margin-top: 30px;
    margin-left: 40px;
}

/* 수정 */
.first-in-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* 수정 */
button {
    width: 147px;
    height: 45px;
    margin-left: 20px;
    font-size: 32px;
}

/* .btn삭제 */

.refund-btn {
    border-radius: 10px;
    border: 2px solid #276FFF;
    background: #FFF;
}

.charge-btn {
    border-radius: 10px;
    background: #276FFF;
    color: #FFF;
    border: 1px solid #276FFF;
}

/* 수정 */
.second-container {
    height: 430px;
    margin-bottom: 20px;
}

/* 수정 */
.small-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin: 10px;
}

.data {
    font-size: 40px;
    font-weight: 700;
}

.second-container .small-title {
    margin: 10px;
}


/* 밑 부분 다 추가   */
.scrolltable{
    border-collapse: collapse;
    border: 1px solid #888;
}
.scrolltable thead {
    display:block;
    background: #1A1F8A;
    color:#fff;
}
.scrolltable tbody{
    display:block;
    overflow:auto;
    height: 312px;
    width:100%;
}
/* 행 장식 */
.scrolltable th, .scrolltable td {
  padding: 5px;
  text-align: center;
  font-size: 32px;

}

.scrolltable th:nth-child(1), .scrolltable td:nth-child(1){
    width: 150px;
}

.scrolltable th:nth-child(2), .scrolltable td:nth-child(2){
    width: 270px;
}

.scrolltable th:nth-child(3), .scrolltable td:nth-child(3){
    width: 300px;
}

.scrolltable th:nth-child(4), .scrolltable td:nth-child(4){
    width: 270px;
}


.scrolltable tr {
    height: 56px;
}

.scrolltable td {
    border:1px solid #555;
}

/* 충전, 사용 색상 */
.colGreen {
    background: #C1FFB7;
}

.colYellow {
    background: #FFDC9A;
}

.colRed {
    background: #FFC3BD;
}

/*추가*/

.outline{
    border: 0;
    height: 8px;
    background-color: #276FFF;
}
.inline{
    border: 0;
    height: 4px;
    background-color: #276FFF;
    margin-top: 5px;
}


/* 흑백 로고 */
    #logo2{
        float: left;
        width: 104px;
        height: 80px;
        background-image: url(/resources/img/logo2.png);
        background-position: center;
        overflow: hidden;
        margin-left: 40px;

    }

/* 회사 소개 */
    .footerText{
        float: left;
        /* border: 1px solid #000; */
        margin-left: 100px;
        margin-top: 30px ;
    }


/* footer 하단 고정 [S] */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    padding-bottom: 30px; /* footer의 높이 */
}

footer {
    width: 100%;
    height: 30px; /* footer의 높이 */
    position: absolute;
    bottom: 0;
    left: 0;
}
/* footer 하단 고정 [E] */