* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 586px;
    font-family: 'SUITE', sans-serif;
}

.container {
    width: 885px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
    padding-left: 380px;
}

nav {
    height: 118px;
    background-color: #276FFF;
    color: #FFFFFF;
    font-size: 30px;
}

.big-title {
    font-size: 60px;
    padding-left: 20px;
    padding-top: 21px;
    margin: 0;
}

section {
    width: 885px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-top: 7px solid #F29F05;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
}

/* article */
form {
    padding-left: 50px;
}

.info {
    margin-left: 10px;
}

.info p {
    font-size: 32px;
    font-weight: 400;
}

.info span {
    color: #F2210C;

}

#name, #telv, #emailv {
    margin-left: 200px;
    width: 337px;
    height: 55px;
    text-align: center;
    font-size: 32px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
}

#emailv {
    margin-left: 245px;
}

.money {
    margin-left: 480px;
}

.account {
    margin-left: 45px;
}

.notice {
    font-size: 20px;
    width: 725px;
}

.notice :nth-child(1) {
    list-style: none;
    color: #F2210C;
}

.submit-btn {
    margin-bottom: 20px;
    margin-left: 200px;
    width: 267px;
    height: 68px;
    font-size: 48px;
    color: #FFFFFF;
    background-color: #276FFF;
    border-radius: 10px;
}
